# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# IDE files
.vscode/
.idea/
.pytest_cache/

# Build artifacts
dist/
build/
*.egg-info/

# MINE
.cursor
.repomix
bgs
.devcontainer
